{% extends "store/base.html" %}
{% block title %}
{{ goods_data.goods_name }}修改
{% endblock %}
{% block content %}
    <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table">
    <tr>
        <td><img style="width:200px;height:200px" src="/static/{{ goods_data.goods_image  }}" alt=""></td>
        <input type="file" class="form-control form-control-user" name="goods_images">
        <th>商品名称</th>
        <td colspan="3"> {# 合并3列 #}
            <input type="text" class="form-control-user form-control" name="goods_name" value="{{ goods_data.goods_name }}"></td></tr>
    <tr>    <th>商品价格</th>
        <td><input type="text" class="form-control-user form-control" name="goods_price" value="{{ goods_data.goods_price }}"></td>
        <th>商品库存</th>
        <td><input type="text" class="form-control-user form-control" name="goods_number" value="{{ goods_data.goods_number }}"></td>
    </tr>
        <tr>    <th>生产日期</th>
        <td><input type="text" class="form-control-user form-control" name="goods_date" value="{{ goods_data.goods_date|date:'Y-m-d' }}"></td>
        <th>保质期</th>
        <td><input type="text" class="form-control-user form-control" name="goods_safeDate" value="{{ goods_data.goods_safeDate }}"></td>
    </tr>
    <tr>
        <th colspan="5" style="text-align: center">商品描述</th>
    </tr>
    <tr>
        <td colspan="5">
            <textarea class="form-control-user form-control" name="goods_description">{{ goods_data.goods_description }}</textarea></td>
    {# textarea文本区域 #}
    </tr>
</table>
        <input type="submit" class="btn btn-primary btn-block" value="保存修改">
    </form>
    <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script>
    CKEDITOR.replace("goods_description",{uiColor:"#666666"})
    </script>
{% endblock %}